@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,400;1,200&display=swap');

//FONTS
$title-font: 'Bebas Neue', cursive;
$text-font: 'Josefin Sans', sans-serif;
$size-text: 14px;



//COLORS
$darkMode: #121212;
$lightblack: #282828;
$lighterBlack: #535353;
$lightGreen: #1dc95b;
$lighterGreen: #32ed75;
$white: #ffffff;
$darkWhite: #b8b8b8;
